.widget-group {
  display: flex;
  flex: 1 1 100%;
  flex-flow: row wrap;
  max-width: 100%;
  box-sizing: border-box;

  &.plain-list {
    flex-flow: column nowrap;
    align-items: center;
  }

  .widget{
    flex: 1 1 250px;
    max-width: 250px;
    box-sizing: border-box;
    flex-direction: column;
    padding: 10px;
  }
}

.button-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .separator { margin: 0 10px; }
}
