<div class="button-bar">
  <mat-form-field>
    <input matInput #filter>
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>

  <div class="separator"></div>

  <mat-button-toggle-group name="alignment" [(ngModel)]="layout">
    <mat-button-toggle value="list"><mat-icon>view_list</mat-icon></mat-button-toggle>
    <mat-button-toggle value="dashboard"><mat-icon>dashboard</mat-icon></mat-button-toggle>
  </mat-button-toggle-group>

  <div class="separator"></div>

  <mat-button-toggle-group #sorting name="sorting" [(ngModel)]="order">
    <mat-button-toggle value="asc"><mat-icon>arrow_upward</mat-icon></mat-button-toggle>
    <mat-button-toggle value="desc"><mat-icon>arrow_downward</mat-icon></mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div class="widget-group" [class.plain-list]="layout === 'list'">
  <card-component *ngFor="let item of dataSource$ | async"
      [tile]="item"
      class="widget">
        <button mat-raised-button>skip</button>
        <button mat-raised-button color="warn">read</button>
  </card-component>
</div>
