<mat-card class="example-card">
  <!--<div style="height: 100px; width: 200px; overflow: hidden; position: relative">-->
    <img mat-card-image [attr.src]="tile.avatar" alt="Photo" width="50%" height="50%">
  <!--</div>-->
  <mat-card-content>
    <p>
      {{ tile.title }}
    </p>
    <div class="controls-bar">
      <button mat-button color="warn" disableRipple="true">
        <mat-icon class="size-14" aria-label="heart icon">favorite</mat-icon>
        Like
      </button>
      <a mat-button disableRipple="true">{{ hasActions ? tile.link : 'Details' }}</a>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="hasActions">
    <ng-content></ng-content>
  </mat-card-actions>
</mat-card>
