
.mat-card-actions,
.controls-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.size-14 {
  height: 14px;
  line-height: 14px;
  width: 14px;
  font-size: 14px;
}

// TODO:
.mat-card-content {

}

@media screen and (max-width:600px) {
  .mat-card-content {
  }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  .mat-card-content {
  }
}
