<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" opened="true" #sidenav>
      <nav class="nav-list">
        <ul>
          <li>
            <a [routerLink]="['dashboard']"
               routerLinkActive="active-link"
               (click)="sidenav.close()">
              <mat-icon>dashboard</mat-icon>
              <span class="nav-link-title">Dashboard</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['users']" routerLinkActive="active-link" (click)="sidenav.close()">
              <mat-icon>account_box</mat-icon>
              <span class="nav-link-title">User</span>
            </a>
          </li>
        </ul>
      </nav>
  </mat-sidenav>
  <div>
    <mat-toolbar>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
