.nav-list {
  padding-top: 50px;
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    li {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      margin: 0;
      padding: 0;
      border-color: rgba(255, 255, 255, 0.06);
      color: rgba(255, 255, 255, 0.7);
      a {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: white;
        font-weight: 400;
        line-height: 47px;
        text-decoration: none;
        transition: all .3s;
        padding: 0 16px;
        position: relative;
        &:hover {
          background: #303030;
          color: #62aaff;
        }

        &.active-link {
          background: #303030;
          color: #62aaff;
        }
        .mat-icon {
          margin-right: 16px;
        }
      }
    }
  }
}
