/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";


html, body,
material-app,
mat-sidenav-container,
.app-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

* {
  font-family: 'Open Sans', sans-serif;
}


